<h1 class="whitetext"><%= @tag.tag_name %></h1>

<div class="ui card commentcard">
  <ul>
    <% @tag.stories.each do |story| %>
      <li><%= link_to story.title, story %></li>
    <% end %>
  </ul>
</div>
