<h2><%= @location.neighborhood %></h2>

<ol>
  <% @location.stories.each do |ls| %>
    <li><%= link_to ls.title, ls %></li>
  <% end %>
</ol>

<%= link_to "Home", stories_path %> | <%= link_to "All Locations", locations_path %>
